.container {
    background: #FAFAFA;
    width: 536px;
    height: 66px;
    /*float: right;*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.22);
    border-radius: 3px;
    /*opacity: 0;*/
    will-change: transform, opacity;
    transition: 0.15s all ease;
}

.row {
    margin: 0;;
}

#new-filter {
    width: 80%;
}

.row {
    width: 85%;
    margin-left: 10px;
}

p {
    /*margin-left: 10px;*/
}