.container {
    background: #FAFAFA;
    width: 636px;
    height: 66px;
    /*float: right;*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.22);
    border-radius: 3px;
    /*opacity: 0;*/
    will-change: transform, opacity;
    transition: 0.15s all ease;
}

.footer {
    height: 20px;
    margin-bottom: 0;;
    margin-left: 10px;
}

.row {
    margin: 0;;
}

#new-filter {
    width: 70%;
}

.row {
    width: 85%;
}

.title {
    width:25%;
    margin-left: 10px;
    display: inline-block;
}